@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --fonte-destaque: 'Shadows Into Light', cursive;
    --fonte-padrao: 'Work Sans', sans-serif;
    --fonte-header: 'Bebas Neue', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(imagens/evh-fundo.png);
    background-attachment: fixed;
}

header{
    background-image: linear-gradient(to bottom, #ff0000, transparent);
    background-attachment: fixed;
    font-family: var(--fonte-header);
    text-align: center;
    padding: 30px;
    box-shadow: 1px 3px 8px #0000007c;
}
header h1{
    padding: 10px;
    font-size: 3.2em;
    color: white;
}
header p{
    padding: 5px;
    font-size: 2.2em;
    text-shadow: 0px 1px 1px #0000007c;
}
nav{
    background-image: linear-gradient(to right, black, transparent);
    padding: 10px;
    font: bold 1.1em Arial;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right: 80px;
}
nav a:hover{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    transition: .5s;
}
main{
    min-width: 280px;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 3px 8px #0000007c;
}
main h1, h2{
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
}
main p{
    text-align: justify;
    text-indent: 30px;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    line-height: 25px;
}
.foto{
    min-width: 250px;
    max-width: 350px;
    display: block;
    margin: auto;
}
picture img{
    display: block;
    margin: auto;
}
.foto-guitarra{
    display: block;
    float: left;
    padding: 10px;
}
aside{
    background-image: linear-gradient(to bottom, red, transparent);
    background-attachment: fixed;
    min-width: 280px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    font-family: var(--fonte-padrao);
    border-radius: 10px;
}
aside > h3{
    background-color: black;
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type: "\2714\00A0";
    list-style-position: inside;
    padding: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    background-color: white;
    color: red;
    padding: 3px;
    border-radius: 5px;
    transition: .8s;
}
.video{
    margin: 20px;
    box-shadow: 1px 3px 8px #ff00008a;
    padding-bottom: 71%;
    position: relative;
}
.video > iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}