@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to bottom, #808080, transparent);
    background-attachment: fixed;
}

main{
    width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 25px;
    box-shadow: 1px 3px 8px #0000007c;
}

main p{
    text-align: justify;
    text-indent: 30px;
}

main ul{
    padding: 20px;
    font-size: 1.2em;
    text-decoration: underline;
    font-weight: bold;
}

header{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    text-align: center;
    padding: 50px;
    box-shadow: 1px 3px 8px #0000007c;
}
header p{
    font-size: 1.2em;
    font-weight: bold;
    padding: 20px;
}
header p:hover{
    color: chartreuse;
}
nav{
    text-align: left;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    background-color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: blue;
    padding: 5px;
    transition: 0.8s;
}
footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
footer:hover{
    color: chartreuse;
}