@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #012700;
    --cor1: #255A00;
    --cor2: #739C00;
    --cor3: #B1B41B;
    --cor4: #EEC200;

    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-padrao: 'Work Sans', sans-serif;
}

body{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1), var(--cor2), var(--cor3), var(--cor4));
    background-attachment: fixed;
}
header{
    background-image: url(imagens/header.png);
    background-attachment: fixed;
    margin: auto;
    min-height: 200px;
    max-height: 201px;
    padding: 20px;
    box-shadow: 2px 4px 8px #0000008e;
}
header h1{
    font-family: var(--fonte-destaque);
    font-size: 2.8em;
    color: var(--cor4);
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
header p{
    font-family: var(--fonte-destaque);
    font-size: 2.0em;
    text-align: center;
    color: var(--cor4);
    padding: 20px;
    text-shadow: 1px 1px 2px black;
}
nav{
    margin-top: 40px;
}
nav a{
    margin-right: 20px;
    text-decoration: none;
    color: var(--cor2);
    font: bold 1.2em Arial;
}
nav a:hover{
    background-color: var(--cor4);
    padding: 10px;
    border-radius: 5px;
    transition: .5s;
}
main{
    min-width: 280px;
    max-width: 810px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: var(--cor0);
    border-radius: 5px;
    box-shadow: 2px 4px 8px #0000008e;
}
main h1{
    font-family: var(--fonte-destaque);
    font-size: 2.2em;
    color: var(--cor3);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    background-attachment: fixed;
    padding: 5px;
    margin-bottom: 10px;
}
main h2{
    font-family: var(--fonte-destaque);
    font-size: 1.8em;
    color: var(--cor3);
    text-align: center;
    text-decoration: underline;
    padding: 15px;
}
.caixa{
    min-width: 280px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor4);
    border-radius: 5px;
    box-shadow: 2px 2px 6px var(--cor4);
    list-style-position: inside;
}
main > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor4);
    line-height: 1.6;
    text-align: justify;
    text-indent: 30px;
}
#indice{
    min-width: 280px;
    max-width: 320px;
    border: 1px solid black;
    padding: 20px;
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    background-color: var(--cor1);
    color: var(--cor4);
    font-family: var(--fonte-padrao);
    box-shadow: 2px 2px 6px var(--cor4);
}
#indice > h3{
    background-color: var(--cor4);
    color: var(--cor1);
    padding: 5px;
    margin: -20px -20px 5px -20px;
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 1.6em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#indice  a{
    text-decoration: none;
    color: var(--cor4);
}
#indice a:hover{
    text-decoration: underline;
}
.ol-li{
    text-indent: initial;
    margin-left: 10px;
}
.ul-li{
    text-indent: 35px;
}
.faixa{
    display: inline-block;
    border: 1px solid black;
    width: 135px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}
.faixa > p{
    background-color: var(--cor4);
    padding: 2px;
    margin: -10px -10px 0px -10px;
    text-align: center;
    font-family: var(--fonte-destaque);
}
.tabela{
    min-width: 280px;
    max-width: 600px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor4);
    border-radius: 5px;
    box-shadow: 2px 2px 6px var(--cor4);
}
.tabela ul{
    list-style-type: "\1F94B\00A0";
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    color: var(--cor3);
    padding: 10px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: var(--cor3);
}
footer a:hover{
    text-decoration: underline;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--cor1);
    text-decoration: none;
    border-radius: 50%;
}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: var(--cor4);
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;